#botonesDePago{    
    background-color: #FFFFFF;
    .botonedepago__container{
        display: flex;
        align-items: center;
        justify-content: center;
        
        .botondepago__imagen{        
            width: 539px;
            height: 738px;
            margin-right: 75px;
            margin-top: 46px;
            img{
                width: 100%;

            }
        }
        .botondepago__texto{
            width: 606px;
            margin-top: 46px;
            h1{
                width: 458px;
                color: #141DF0;
                font-weight: 500;
                
                
            }
            p{
                
                font-weight: 300px;
                
            }
        }
    }
    .tiposdebotones__container{        
        width: 730px;
        margin-left: 5%;    
        margin-top: 103px;
        
        .tipodebotones_titulo{            
            h2{
                
                width: 682px;
                font-weight: 500;
                margin-bottom: 34px;
                
            }
        }
        .tiposdebotones__botones{
                display: flex;
                flex-direction: column;  
                
            h3{
                width: 540px;
                
                margin-bottom: 34px;
            }
            .tipodebotones__parrafo{                
                width: 706px;
                font-size: 18px;
                line-height: 38px;
                margin-left: 352px;
                margin-bottom: 63px;
                
                
            }
            .btn__prueba{
                .container__button{
                    width: 90%;
                    margin: 0px auto;
                    display: flex;
                    -webkit-box-align: center;
                    align-items: center;
                    .btn_image{                        
                    width: 18px;
                    z-index: 1;
                    display: flex;
                        img{
                            width: 100%;
                        }
                    }
                    .btn__text{
                        margin-left: 30px;
                        font-size: 20px;
                        
                        z-index: 1;
                    }
                }

                background-color: rgb(20, 29, 240);
                width: 300px;
                height: 45px;
                border-radius: 10px;
                border: 0.5px solid rgb(78, 85, 244);
                color: rgb(255, 255, 255);
                position: relative;
                overflow: hidden;
                transition: all 0.3s ease-in-out 0s;
                padding: 1px 6px;
            }
            .btn__prueba::before{
                content: "";
                width: 100px;
                height: 100px;
                background-color: rgb(255, 255, 255);
                position: absolute;
                top: -32px;
                left: -50px;
                border-radius: 50%;
                transition: all 0.3s ease-in-out 0s;
            }
            .btn__prueba:hover::before{
                width: 365px;
            }
            .btn__prueba:hover{                
                color: #000000;
            }
        }        
    }
    .instalacion__container{
        margin-left: 5%;
        .instalacion__titulo{
            h2{                
                font-weight: 500;
                margin-bottom: 47px;
            }
        }
        .instalacion__descripcion{
            width: 777px;            
            font-weight: 400;
        }
        .instalacion__pasos{
            display: flex;
            margin-bottom: 69px;
            
            .instalacion__pasos__circulo{                    
                width: 93px;
                height: 93px;
                display: flex;
                justify-content: center;
                align-items: center;
                
                img{
                    position: absolute;
                    width: 80px;
                    height: 80px;
                }
                p{
                    position: relative;
                    font-size: 50px;
                    color: #FFFFFF;
                    transform: rotate(-17.83deg);
                    font-weight: 900;
                    top: 5px;
                }
            }
            .instalacion__pasos__texto{
                align-self: center;
                margin-left: 32px;
                font-size: 20px;
                font-weight: bold;
            }            
        }
        .instalacion__soporte{
            font-size: 20px;
            font-weight: 500; 
            margin-top: 97px;
            
        }
        .instalacion__button__container{
            display: flex;
            justify-content: center;
            margin-top: 54px;
            
            
            .instalacion__button{
                width: 435px;
                height: 55px;
                background-color: #141DF0;
                border-radius: 30px;
                border: none;
                color: #FFFFFF;
                font-size: 24px;
                margin-bottom: 100px;
                box-shadow: inset 0 0 0 0 black;
                transition:ease-out 0.3s;
                
            }
            .instalacion__button:hover{
                box-shadow: inset  450px 0 0 0  black;
            }
            
        }
    }    
}



@media only screen and (max-width: 600px) {
    #botonesDePago{
        width: 100vw;        
        .botonedepago__container{
            position: relative;
            display: block;
            width: 100%;
            top: 130px;
            height: 1200px;     
            box-sizing: border-box;                  
            
            .botondepago__imagen{
                position: relative;
                top: 100px;
                width: 200px;
                height: 260px;
                margin: auto;
            }
            .botondepago__texto{                
                width: 100%;
                top: 150px;
                text-align: center;
                h1{
                    position: relative;
                    top: -300px; 
                    width: 100%;
                }
                
            }
        }
        .tiposdebotones__container{
            width: 100%;
            margin: auto;
            height: 1100px;      
            text-align: center;            
            
            .tipodebotones_titulo{
                h2{
                    width: 100%;
                }
            }
            
            .tiposdebotones__botones{                
                width: 100%;
                align-items: center;
                h3{
                    width: 100%;
                }
                .btn__prueba{
                    margin-bottom: 10px;
                }
                .tipodebotones__parrafo{
                    width: 300px;
                    margin: 15px 0 25px 0;
                }
            }
            
        }
        .instalacion__container{
            width: 100%;
            margin: auto;
            height: 1000px;
            text-align: center;
            .instalacion__titulo{
                width: 100%;                
                h2{                    
                    margin-bottom: 15px;
                }                
            }
            .instalacion__descripcion{
                width: 100%;
                line-height: 38px;
            }
            .instalacion__pasos{
                width: 100%;
                margin: 15px 0;

                .instalacion__pasos__texto{
                    width: 193px;
                    font-size: 18px;
                    line-height: 30px;
                    
                }
            }
            .instalacion__soporte{
                margin: 70px 0;
            }
            .instalacion__button__container{
                margin: auto;
                width: 248px;
                height: 65px;
                .instalacion__button{
                    font-size: 18px;
                    margin-bottom: 20px;
                }
            }
        }
    }

}