#nosotros{  
    background-color: #FFFFFF;    
    display: flex;
    flex-direction: row;        
    align-items: center;    
    .nosotros__texto__container{
        margin-top: 60px;
        height: 800px;
        h1{            
            width: 930px;            
            color: #141DF0;
            font-weight: 500;
            line-height: 127%;
            margin-bottom: 50px;
        }
        p{
            width: 692px;            
            line-height: 38px;
            margin-bottom: 30px;
            font-weight: normal;
        }
        
    }
    .nosotros__image{
        position: absolute;
        width: 550px;
        height: 713px;                                
        top: 200px;
        right: 0px;
        img{
            width: 100%;
            
            
            
        }
    }
}

