#privacidad{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    .privacidad__container{
    width: 1037px;
    margin-top: 67px;
    margin-bottom: 135px;
        
    
    h1{
        width: 417px;        
        line-height: 127%;
        color: #141DF0;
    }
    p{
        
        line-height: 38px;
    }
}
}