#VenderConBTC{
    display: flex;
    flex-direction: column;        
    background-color: #FFFFFF;
    padding-top: 46px;
    .venderConBTC__titulo__imagen{
        display: flex;
        justify-content: center;
        
        .venderConBTC__titulo__texto{
            width: 564px;
            h2{
                
                
                font-weight: 500;
                
            }
            p{                
                font-weight: 500;
            }
            .venderConBTC__btn{        
                width: 425px;
                height: 55px;                
                font-size: 24px;
                background-color: #141DF0;
                border-radius: 30px;
                border: none;
                margin-top: 27px;                
                margin-bottom: 50px;
                box-shadow: inset 0 0 0 0 black;
                transition:ease-out 0.3s;
                a{
                    color: #FFFFFF;
                    text-decoration: none;
                }
            }
            .venderConBTC__btn:hover{
                box-shadow: inset 425px 0 0 0 black;
            }        
            
        }
        img{
            width: 616px;
            height: 615px;
            margin-left: 42px;
        }
    }
    

    .vendeConBTC__more__info{
        width: 900px;
        
        display: flex;
        flex-direction: column;        
        align-items: center;  
        justify-content: center;

        .vendeConBTC__more__info__texto{            
            h2{
                margin-bottom: 30px;
                margin-top: 50px;
                font-weight: 500;
            }
            p{                                
                font-weight: 500;
            }            
            
        }
        .venderConBTC__more__info__button{
            width: 425px;
            height: 70px;            
            font-size: 24px;
            background-color: #141DF0;
            border-radius: 30px;
            border: none;
            margin-top: 27px;            
            margin-bottom: 100px;
            box-shadow: inset 0 0 0 0 black;
            transition:ease-out 0.3s;
            a{
                color: #FFFFFF;
                text-decoration: none;
            }   

        }
        .venderConBTC__more__info__button:hover{
            box-shadow: inset  425px 0 0 0  black;
            
            
        }       
    }
    
}