#beneficios{
    background-color: #FFFFFF;    
    
    .beneficios__header__container{
        width: 100%;
        height: 550px;        
        display: flex;
        justify-content: center;
        align-items: center;
        .beneficios__header{
            h1{            
                width: 800px;
                color:#141DF0;
                font-weight: 500;
                line-height: 127%;            
                margin-bottom: 30px;
                
                
            }
            p{
                width: 632px;                
            }
        }  
        .PrimeraImagenMobile{
            display: none;
        }      
        .PrimeraImagen{            
            width: 400px;
            height: 421px;
            margin-left: -70px;
            
        }
        
    }
    .beneficios__seccion_uno__container{
        width: 100%;
        height: 391px;
        background-color: #141DF0;
        color: #FFFFFF;
        display: flex;
        justify-content: center;
        align-items: center;
        .beneficios__seccion_uno{
            width: 1095px;
            h2{                
                color: #FFFFFF;
                line-height: 127%;
                font-size: 500;
                margin-bottom: 30px;
            }
            p{
                
                line-height: 38px;
                
            }
        }
    }
    .beneficios__seccion_dos__container{
        height: 600px;
        display: flex;
        justify-content: center;
        align-items: center;
        
        .beneficios__seccion_dos__titulo__texto{
            width: 777px;
            h2{                
                font-weight: 500;
                line-height: 127%;
                margin-bottom: 25px;
                
            }
            p{
                width: 634px;
                
                line-height: 38px;
            }
            .beneficios__seccion_dos_button{
                width: 435px;
                height: 55px;
                border-radius: 30px;
                background: #141DF0;
                color: #FFFFFF;
                line-height: 38px;
                font-size: 24px;
                border: none;
                margin-top: 30px;
                box-shadow: inset 0 0 0 0 black;
                transition:ease-out 0.3s;
            }
            .beneficios__seccion_dos_button:hover{
                box-shadow: inset 450px 0 0 0 black;
            }

        }
        .beneficios__seccion_dos__imagen__container{
            width: 513px;
            height: 390px;           
            
            .beneficios__seccion_dos__imagen{
                position: absolute;
            }
            .beneficios__seccion_dos__circulo{                
                position: relative;
                border-radius: 120px;
                width: 152px;
                height: 152px;
                background-color: #141DF0;
                left: 300px;
                top: -20px;
                text-align: center;
                
                p{
                    position: relative;
                    width: 123px;
                    color: #FFFFFF;                    
                    font-size: 24px;
                    left: 15px;
                    top: 30px;
                    transform: rotate(29.27deg);
                    line-height: 107%;
                }
            }
        }
    }

}



@media only screen and (max-width: 600px) {
    #beneficios{
        width: 100%;
        padding-top: 150px;
        text-align: center;
        

        .beneficios__header__container{                                    
            height: 900px;
            flex-direction: column;
            .beneficios__header{                
                width: 300px;
                margin-top: 250px;
                h1{
                    width: 100%;
                    margin-bottom: 350px;
                }
                p{
                    width: 100%;
                }
            }
            .PrimeraImagenMobile{
                position: relative;
                top: -700px;
                display: flex;
            }
            .PrimeraImagen{
                display: none;
            }
        }
        .beneficios__seccion_uno__container{
            width: 100%;
            background-color: #231F20;
            height: 700px;
            .beneficios__seccion_uno{
                width: 300px;
            }
        }
        .beneficios__seccion_dos__container{
            width: 100%;
            height: 1100px;
            flex-direction: column;                       
            
            .beneficios__seccion_dos__titulo__texto{
                width: 300px;
                margin-bottom: 30px;
                .beneficios__seccion_dos__text{
                    p{
                        width: 300px;
                    }
                }
                .beneficios__seccion_dos_button{
                    width: 100%;
                    font-size: 18px;
                }
            }
            .beneficios__seccion_dos__imagen__container{
                width: 100%;
                margin: 0;
                height: 300px;
                
                align-content: center;
                justify-content: center;
                
                .beneficios__seccion_dos__imagen{
                    position: relative;
                    width: 300px;
                    height: 238px;
                }
                .beneficios__seccion_dos__circulo{
                    width: 99px;
                    height: 99px;             
                    left: 200px;
                    top: -250px;
                    position: relative;
                    p{
                        width: 100%;
                        font-size: 18px;
                        left: 0;
                        top: 15px;
                    }
                }
                
            }
        }
    }

}