#formulario{
    display: flex;
    justify-content: center;
    align-items: center;
    
    form{
        width: 962px;
        border: none;            
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 40px;

        h1{
            align-self: flex-start;
            font-size: 40px;
            font-weight: 500;
            line-height: 127%;
            color: #141DF0;
        }
        p{
            align-self: flex-start;
            font-size: 24px;
        }
        .formulario__name{            
            input{                
                width: 962px;
                border: none;
                border: 4px solid #141DF0;
                border-radius: 30px;
                height: 79px;
                font-size: 24px;
                font-weight: 300;
                margin-bottom: 27px;

            }
        }
        .formulario__empresa{
            margin-bottom: 27px;
            input{                
                width: 468px;
                border: 4px solid #141DF0;
                border-radius: 30px;
                height: 79px;
                font-size: 24px;
                font-weight: 300;            
            }
        }
        .formulario__datos{
            margin-bottom: 27px;
            input{                
                width: 468px;
                border: 4px solid #141DF0;
                border-radius: 30px;
                height: 79px;
                font-size: 24px;
                font-weight: 300;            
            }
        }

        .formulario__mensaje{            
            width: 100%;
            height: 331px;
            border: 4px solid #141DF0;
            border-radius: 30px;
            font-size: 24px;
            font-weight: 300;            
            padding-left: 10px;
        }
        button{
            width: 188px;
            height: 67px;
            background: #141DF0;
            border-radius: 30px;
            border: none;
            font-size: 36px;
            line-height: 127%;
            color: #FFFFFF;
            margin-top: 36px;
            margin-bottom: 88px;
            align-self: flex-end;
        }

    }
}

@media only screen and (max-width: 600px) {
    #formulario{               
        width: 100%;
        form{
            width: 300px;
            margin-top: 130px;           
            
            .formulario__name{      
                margin: auto;
                width: 100%; 
                height: 76px;
                margin-bottom: 20px;                
                input{                    
                    width: 100%;                    
                    font-size: 20px;
                }
            }   
            .formulario__empresa{
                width: 100%;
                
                input{
                    width: 100%;
                    margin-bottom: 20px;
                    font-size: 20px;
                }
            }

            .formulario__datos{
                width: 100%;
                input{
                    width: 100%;
                    margin-bottom: 20px;
                    font-size: 20px;
                }
            }
            .formulario__mensaje{
                width: 100%;
                font-size: 20px;
            }
            button{
                width: 126px;
                height: 55px;
                font-size: 20px;
                
                
            }

            

        }
        
    }   
}
