#formulario{
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;

    h1{
        align-self: flex-start;
        font-size: 40px;
        font-weight: 500;
        line-height: 127%;
        color: #141DF0;
    }
    p{
        font-size: 24px;
    }
    .formulario__name{
        input{
            width: 962px;
            border: none;
            border: 4px solid #141DF0;
            border-radius: 30px;
            height: 79px;
            font-size: 24px;
            font-weight: 300;
            margin-bottom: 27px;

        }
    }
    .formulario__empresa{
        margin-bottom: 27px;
        input{
            width: 468px;
            border: 4px solid #141DF0;
            border-radius: 30px;
            height: 79px;
            font-size: 24px;
            font-weight: 300;            
        }
    }
    .formulario__datos{
        margin-bottom: 27px;
        input{
            width: 468px;
            border: 4px solid #141DF0;
            border-radius: 30px;
            height: 79px;
            font-size: 24px;
            font-weight: 300;            
        }
    }

    .formulario__mensaje{
        width: 100%;
        height: 331px;
        border: 4px solid #141DF0;
        border-radius: 30px;
        font-size: 24px;
        font-weight: 300;            
        padding-left: 10px;
    }


}