body {    
    margin: 0;
    font-family: sans-serif;
    background-color: #FFFFFF;    

    h1{
      font-size: 30px;
    }
    h2{      
      color: #141DF0;      
      font-weight: 500;
      font-size: 28px;
    }

    h3{
      font-size: 20px;
    }

    p{
      font-size: 18px;
    }
  }
  
  